<template>
	<div class="create-user">
		<CreateUserForm/>
	</div>
</template>

<script lang="ts">
import CreateUserForm from '../components/CreateUserForm.vue';
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'CreateUser',
	components: {CreateUserForm}
});
</script>
