<template>
	<div class="create-category">
		<CreateCategoryForm/>
	</div>
</template>

<script lang="ts">
import CreateCategoryForm from '../components/CreateCategoryForm.vue';
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'CreateCategory',
	components: {CreateCategoryForm}
});
</script>