<template>
  <div class="login">
    <LoginForm/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import LoginForm from '@/components/LoginForm.vue'; // @ is an alias to /src

export default defineComponent({
  name: 'Login',
  components: {LoginForm}
});
</script>
