<template>
	<div class="bg-gradient-to-l from-pink-400 to-pink-600 min-h-screen pt-2 pb-6 px-2 md:px-0">
		<main class="bg-white max-w-lg mx-auto my-10 p-8 md:p-12 rounded-lg shadow-xl">
			<section>
				<h3 class="flex justify-center font-bold text-gray-700 text-2xl">Create User</h3>
			</section>
			<section class="mt-5">
				<form 
					@reset="formData.avatar='https://ui-avatars.com/api/?name='" 
					@submit.prevent="createUser" 
					class="flex flex-col"
					id="createUserForm"
				>
					<div class="mb-6 pt-3 rounded bg-gray-200">
						<label class="block cursor-text text-gray-700 text-sm font-bold mb-2 ml-3" for="usernameField">Set a username:</label>
						<input 
							v-model="formData.username"
							@input="usernameFieldChanged"
							class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-pink-500 transition duration-500 px-3 pb-3" 
							type="text" 
							id="usernameField" 
							name="usernameField"
							autofocus
							placeholder="e.g: Youssef"
						/>
					</div>
					<div class="mb-6 pt-3 rounded bg-gray-200">
						<label 
							class="block cursor-text text-gray-700 text-sm font-bold mb-2 ml-3" 
							for="psswdField"
							>Set a 4 digits password:</label>
						<input 
							v-model="formData.password"
							@input="formData.password = formData.password.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
							class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-pink-500 transition duration-500 px-3 pb-3" 
							type="password" 
							id="psswdField" 
							name="psswdField"
							placeholder="e.g: 6666"
						/>
					</div>
					<div class="mb-6">
						<label 
							class="
								w-full 
								flex flex-col items-center 
								px-4 py-6 bg-white 
								rounded-md shadow-lg 
								tracking-wide uppercase 
								border border-pink-400 
								cursor-pointer 
								hover:bg-pink-600 hover:text-white
								text-pink-600
								ease-linear transition-all duration-150" 
								for="userAvatar">
							<!-- <i class="fas fa-cloud-upload-alt fa-3x"></i> -->
							<span class="mt-2 text-base leading-normal">Select a user avatar:</span>
							<input
								@input="avatarSelected"
								class="hidden"
								type="file" 
								name="userAvatar" 
								id="userAvatar" 
							/>
						</label>
					</div>
					<div class="mb-3">
						<label class="inline-flex items-center cursor-text text-gray-700 text-sm font-bold mb-2" for="isAdmin">
							<span class="mr-2">Does this user have <u>Admin</u> privileges?</span>
							<input 
							v-model="formData.isAdmin"
							class="cursor-pointer mb-1" 
							type="checkbox" 
							id="isAdmin" 
							name="isAdmin"
							placeholder="e.g: 6666"
						/>
						</label>
					</div>
					<div class="mb-6">
						<img class="rounded-md img w-auto h-20" :src="formData.avatar" alt="user avatar" />
					</div>
					<div>
						<button 
						type="submit" 
						class="bg-pink-500 hover:bg-pink-400 mr-4 py-2 px-4 rounded font-bold shadow-lg hover:shadow-xl transition duration-200 text-white"
						>Create User</button>
						<button 
						type="reset" 
						class="bg-pink-500 hover:bg-pink-400 py-2 px-4 rounded font-bold shadow-lg hover:shadow-xl transition duration-200 text-white"
						>Reset</button>
					</div>
				</form>
			</section>
		</main>
	</div>
</template>

<script lang="ts">
import {defineComponent,reactive,ref} from 'vue';
import User from '../models/User.model';
import Swal, { SweetAlertResult } from 'sweetalert2';
import IUser from '@/interfaces/IUser';

export default defineComponent({
	name: 'CreateUserForm',

	setup() {
		var initialsMode = ref(true);
		var formData = reactive({
			username: '',
			password: null,
			isAdmin: false,
			avatar: `https://ui-avatars.com/api/?name=`
		});
		
		const usernameFieldChanged = () => {
			if(initialsMode.value) {
				formData.avatar = `https://ui-avatars.com/api/?name=${formData.username}&background=random&bold=true`;
			} else {
				initialsMode.value = false;
			}
		}

		const avatarSelected = evt => {
			initialsMode.value = false;
			if(typeof evt.target.files[0] !== 'undefined') {
				return formData.avatar = `file://${evt.target.files[0].path}`;
			} else {
				return formData.avatar = `https://ui-avatars.com/api/?name=`;
			}
		}

		const createUser = (): void | Promise<SweetAlertResult<any>> => {
			if(formData.username.trim() === '') {
				return Swal.fire({
					toast: true,
					title: 'Username field is empty.',
					text: 'Please set a username.',
					icon: 'error',
					position: 'bottom',
					confirmButtonColor: 'rgba(236, 72, 153, 1)',
					timer: 1700,
					timerProgressBar: true
				});
			} else if(formData.password === '' || formData.password === null) {
				return Swal.fire({
					toast: true,
					title: 'Password field is empty.',
					text: 'Please set a password.',
					icon: 'error',
					position: 'bottom',
					confirmButtonColor: 'rgba(236, 72, 153, 1)',
					timer: 1700,
					timerProgressBar: true
				});
			} else {
				const matchedUsername = User.getUserJSON().find((user: IUser) => user.name.toLowerCase() === formData.username.toLowerCase());
				if(matchedUsername) {
					return Swal.fire({
						toast: true,
						title: 'User already exists',
						text: `Please set a different username. (e.g: ${formData.username} 2)`,
						icon: 'warning',
						position: 'bottom',
						confirmButtonColor: 'rgba(236, 72, 153, 1)',
						timer: 1700,
						timerProgressBar: true
					});
				} else {
					const str: string = (formData.password as any).toString();
					if(str.length < 4 || str.length > 4) {
						return Swal.fire({
							toast: true,
							title: 'Password too short',
							text: 'Password needs to be 4 digits long - not more not less',
							icon: 'error',
							position: 'bottom',
							confirmButtonColor: 'rgba(236, 72, 153, 1)',
							timer: 1700,
							timerProgressBar: true
						});
					} else {
						const usernameField: HTMLElement | null = document.getElementById('usernameField');
						Swal.fire({
							title: 'User created successfully',
							text: `You can use ${formData.username} now.`,
							icon: 'success',
							timer: 1700,
							timerProgressBar: true
						});
						User.createUser(formData.username, parseInt(formData.password as any), formData.avatar, formData.isAdmin);
						formData.username = '';
						formData.password = null;
						formData.isAdmin = false;
						formData.avatar = `https://ui-avatars.com/api/?name=`;
						usernameField?.focus();
					}
				}
			}
		}

		return {formData,createUser,usernameFieldChanged,avatarSelected}
	}
});
</script>