<template>
	<div class="bg-gradient-to-l from-pink-400 to-pink-600 min-h-screen pt-2 pb-6 px-2 md:px-0">
		<main class="bg-white max-w-lg mx-auto my-10 p-8 md:p-12 rounded-lg shadow-xl">
			<section>
				<h3 class="flex justify-center font-bold text-gray-700 text-2xl">Create Category</h3>
			</section>
			<section class="mt-5">
				<form 
					@reset="formData.cover='https://ui-avatars.com/api/?name='" 
					@submit.prevent="createCategory" 
					class="flex flex-col"
					id="createCategoryForm"
				>
					<div class="mb-6 pt-3 rounded bg-gray-200">
						<label 
							class="block cursor-text text-gray-700 text-sm font-bold mb-2 ml-3" 
							for="categoryNameField"
						>Give the category a name:</label>
						<input 
							v-model="formData.categoryName"
							@input="categoryNameFieldChanged"
							class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-pink-500 transition duration-500 px-3 pb-3" 
							type="text" 
							id="categoryNameField" 
							name="categoryNameField"
							autofocus
							placeholder="e.g: Cold Drinks"
						/>
					</div>
					<div class="mb-6">
						<label 
							class="
								w-full 
								flex flex-col items-center 
								px-4 py-6 bg-white 
								rounded-md shadow-lg 
								tracking-wide uppercase 
								border border-pink-400 
								cursor-pointer 
								hover:bg-pink-600 hover:text-white
								text-pink-600
								ease-linear transition-all duration-150" 
								for="categoryCover">
							<!-- <i class="fas fa-cloud-upload-alt fa-3x"></i> -->
							<span class="mt-2 text-base leading-normal">Select a category cover:</span>
							<input
								@input="coverSelected"
								class="hidden"
								id="categoryCover" 
								name="categoryCover" 
								type="file" 
							/>
						</label>
					</div>
					<div class="mb-6">
						<img class="rounded-md img w-auto h-20" :src="formData.cover" alt="category cover" />
					</div>
					<div>
						<button 
						type="submit" 
						class="bg-pink-500 hover:bg-pink-400 mr-4 py-2 px-4 rounded font-bold shadow-lg hover:shadow-xl transition duration-200 text-white"
						>Create Category</button>
						<button 
						type="reset" 
						class="bg-pink-500 hover:bg-pink-400 py-2 px-4 rounded font-bold shadow-lg hover:shadow-xl transition duration-200 text-white"
						>Reset</button>
					</div>
				</form>
			</section>
		</main>
	</div>
</template>

<script lang="ts">
import {defineComponent,reactive,ref} from 'vue';
import Categoy from '../models/Category.model'
import Swal, { SweetAlertResult } from 'sweetalert2';
import ICategory from '@/interfaces/ICategory';

export default defineComponent({
	name: 'CreateCategoryForm',

	setup() {
		var initialsMode = ref(true);
		var formData = reactive({
			categoryName: '',
			cover: `https://ui-avatars.com/api/?name=`
		});
		
		const categoryNameFieldChanged = () => {
			if(initialsMode.value) {
				formData.cover = `https://ui-avatars.com/api/?name=${formData.categoryName}&background=random&bold=true`;
			} else {
				initialsMode.value = false;
			}
		}

		const coverSelected = evt => {
			initialsMode.value = false;
			if(typeof evt.target.files[0] !== 'undefined') {
				return formData.cover = `file://${evt.target.files[0].path}`;
			} else {
				return formData.cover = `https://ui-avatars.com/api/?name=`;
			}
		}

		const createCategory = (): void | Promise<SweetAlertResult<any>> => {
			if(formData.categoryName.trim() === '') {
				return Swal.fire({
					toast: true,
					title: 'Category name field is empty.',
					text: 'Please give the category a name.',
					icon: 'error',
					position: 'bottom',
					confirmButtonColor: 'rgba(236, 72, 153, 1)',
					timer: 1700,
					timerProgressBar: true
				});
			} else {
				const matchedCategory = Categoy.getCategoryJSON().find((category: ICategory) => category.name.toLowerCase() === formData.categoryName.toLowerCase());
				if(matchedCategory) {
					return Swal.fire({
						toast: true,
						title: 'Category already exists',
						text: `Please set a different category name. (e.g: ${formData.categoryName} 2)`,
						icon: 'warning',
						position: 'bottom',
						confirmButtonColor: 'rgba(236, 72, 153, 1)',
						timer: 1700,
						timerProgressBar: true
					});
				} else {
						const categoryNameField: HTMLElement | null = document.getElementById('categoryNameField');
						Swal.fire({
							title: 'Done!',
							text: `${formData.categoryName} has been created successfully.`,
							icon: 'success',
							timer: 1700,
							timerProgressBar: true
						});
						Categoy.createCategory(formData.categoryName, formData.cover);
						formData.categoryName = '';
						formData.cover = `https://ui-avatars.com/api/?name=`;
						categoryNameField?.focus();
					}
				}
			}
		return {formData,createCategory,categoryNameFieldChanged,coverSelected}
	}
});
</script>