<template>
	<div class="bg-gradient-to-l from-pink-400 to-pink-600 min-h-screen md:pt-20 pb-6 px-2 md:px-0">
		<header class="max-w-lg mx-auto">
			<h1 class="font-bold text-white text-center text-5xl"><u>LOGIN</u></h1>
		</header>
		<main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-xl">
			<section>
				<h3 class="font-bold text-2xl">Welcome to Ultracaisse</h3>
			</section>
			<section class="mt-5">
				<form @submit.prevent="handleLogin" id="form" autocomplete="off" class="flex flex-col">
					<div class="mb-6 pt-3 rounded bg-gray-200">
						<label class="block cursor-text text-gray-700 text-sm font-bold mb-2 ml-3" for="">Select a user</label>
						<select v-model="formData.username" class="bg-gray-200 rounded w-full text-gray-700 cursor-pointer focus:outline-none px-3 pb-3" name="" id="">
							<option value="" disabled selected>Select a user</option>
							<option v-for="user in users" :key="user._id" :class="user.isAdmin ? 'text-red-600' : ''" :value="user.value">{{user.name}}</option>
						</select>
					</div>
					<div class="mb-6 pt-3 rounded bg-gray-200">
						<label class="block cursor-text text-gray-700 text-sm font-bold mb-2 ml-3" for="psswdField">Password</label>
						<input v-model="formData.password" @input="formData.password = formData.password.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-pink-500 transition duration-500 px-3 pb-3" type="password" maxlength="4" name="psswdField" id="psswdField" placeholder="****"/>
					</div>
					<div>
						<button class="bg-pink-500 hover:bg-pink-400 py-2 px-4 rounded font-bold shadow-lg hover:shadow-xl transition duration-200 text-white" type="submit">Login</button>
					</div>
				</form>
			</section>
		</main>
	</div>
</template>

<script lang="ts">
import {defineComponent,reactive,computed} from 'vue';
import {useRouter} from 'vue-router';
import {useStore} from 'vuex';
import User from '../models/User.model';
import Swal from 'sweetalert2';
import DataManager from '../utils/DataManager';

DataManager.generateDefaultFilesAndDirectories();

export default defineComponent({
  name: 'LoginForm',

	setup() {
		let formData = reactive({
			username: '',
			password: null
		});

		const store = useStore();
		const router = useRouter();
		const users: any = computed(() => store.getters['user/USERS']);

		const handleLogin = () => {
			const user: User = new User(formData.username, parseInt(formData.password as any));
			const currentUser = user.handleLogin(users.value);
			if(!currentUser) {
				if(formData.username === '') {
					return Swal.fire({
						toast: true,
						title: 'No user has been selected!',
						text: 'Please select a user and try again.',
						icon: 'warning',
						position: 'bottom',
						confirmButtonColor: 'rgba(236, 72, 153, 1)',
						timer: 1700,
						timerProgressBar: true
					});
				} else {
					return Swal.fire({
						toast: true,
						title: 'Wrong password!',
						text: 'Please try again with the right password.',
						icon: 'error',
						position: 'bottom',
						confirmButtonColor: 'rgba(236, 72, 153, 1)',
						timer: 1700,
						timerProgressBar: true
					});
				}
			} else {
				Swal.fire({
					title: 'Nice!',
					text: 'You have been logged in successfully',
					icon: 'success',
					confirmButtonColor: 'rgba(236, 72, 153, 1)',
					timer: 1500,
					timerProgressBar: true
				});
				// store.commit('user/SET_IS_LOGGED_IN', true);
				store.dispatch('user/HANDLE_LOGIN', {currentUser:currentUser,status:true});
				return router.push('/createCategory');
			}
		}

		return {formData,users,handleLogin}
	}
});
</script>
